.aboutUs {
  text-align: center;
  width: 80%;
  margin: 2rem auto 2rem auto;
}

.aboutUs h2 {
  width: 20%;
  margin: 1rem auto 1rem auto;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.aboutUs p {
  margin-bottom: 2rem;
}

.aboutUs a {
  font-family: inherit;
  border: 2px solid black;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
