.aboutUs {
  text-align: center;
  width: 80%;
  margin: 3rem auto 3rem auto;
  padding: 1rem 1.5rem 3rem 1.5rem;
  /* border: 2px solid var(--color-black-900); */
}

.aboutUs h2 {
  width: 15rem;
  font-size: 2.5rem;
  margin: 1rem auto 1rem auto;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-black-900);
  color: var(--color-black-900);
  letter-spacing: 8px;
  font-weight: bold;
}

.aboutUs p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--color-black-900);
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.aboutUs a {
  font-family: inherit;
  border: 2px solid var(--color-black-900);
  color: var(--color-black-900);
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  display: block;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.5s ease;
  background: linear-gradient(
      to left,
      var(--color-white-200) 50%,
      var(--color-black-900) 50%
    )
    right;
  background-size: 200% 100%;
}

.aboutUs a:hover,
a:active {
  background-position: left;
  color: var(--color-white-200);
}
