.posts {
  background-color: var(--color-white-100);
  text-align: center;
  padding: 1rem 0;
}

.posts h2 {
  width: 20rem;
  font-size: 2.2rem;
  margin: 1rem auto 1rem auto;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-black-900);
  color: var(--color-black-900);
  letter-spacing: 5px;
  font-weight: bold;
}

.postItem {
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 25rem;
  margin: 3rem auto 3rem auto;
  /* border: 2px solid var(--color-black-900); */
}

.imgContainer {
  height: 100%;
  width: 50%;
}

.postItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20%;
  transition: 1s ease;
}

.postItem:hover img {
  border-radius: 0%;
}

.contentContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-black-900);
  padding: 0 1rem;
}

.contentContainer h3 {
  width: 15rem;
  font-size: 2.5rem;
  margin: 1rem auto 1rem auto;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-black-900);
  letter-spacing: 8px;
  font-weight: bold;
}

.contentContainer p {
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.contentContainer .checkParagraph {
  margin: 0.5rem auto;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--color-black-900);
  width: 10rem;
}

.svgContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0.5rem auto;
}

.svg {
  width: 5rem;
  height: 5rem;
  transition: 1s ease;
  cursor: pointer;
}

.svg:hover,
.svg:active {
  fill: rgb(66, 103, 178);
}

.svgIg:hover,
.svgIg:active {
  fill: rgb(245, 96, 64);
}

@media (max-width: 768px) {
  .postItem {
    flex-direction: column;
    width: 80%;
    height: 43rem;
  }
  .imgContainer {
    height: 45%;
    width: 100%;
  }
  .contentContainer {
    height: 55%;
    width: 100%;
    padding: 0;
  }
}
