@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body {
  --color-primary-500: rgb(43, 33, 33);
  --color-black-500: rgba(0, 0, 0, 0.8);
  --color-white-200: rgb(228, 222, 222);

  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-white-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-select-selector {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-select-selector:hover {
  border-color: rgba(255, 255, 255, 0.5) !important;
}
